$cor-principal: #f44242;
$cor-redbull:rgb(1, 64, 131); 
$cor-mclaren:rgb(228, 136, 51);
$cor-ferrari:rgb(228, 21, 21); 
$cor-mercedes:rgb(6, 202, 196);
$cor-astonmartin:rgb(3, 122, 104);
$cor-racingbulls:rgb(32, 57, 76);
$cor-hass: rgb(212, 212, 212);
$cor-williams:rgb(4, 95, 192);
$cor-sauber:rgb(2, 196, 11);
$cor-alpine:rgb(10, 163, 201);
